@* Displayed when user is not logged in *@

<div class="alert alert-warning">
    <i class="feather icon-feather-alert-circle me-2" aria-hidden="true"></i>
    Please <a asp-controller="Account" asp-action="Login">log in</a> to manage your subscriptions.
</div>
